/* add code here to make your image 300px square */
img {
    width: 300px;
}

/* add code here to change the color and font family of your name/title */
h1 {
    color:forestgreen;
    font-family: Arial, Helvetica, sans-serif;
}
/* Bonus: change the color of your list elements */
li {
    color:rgb(159, 108, 37);
}